<footer id="gtco-footer" role="contentinfo" style="background-image: url(images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="gtco-container">
    <div class="row row-pb-md">
      <div class="col-md-12 text-center">
        <div class="gtco-widget">
          <h3>Get In Touch</h3>
          <ul class="gtco-quick-contact">
            <li>
              <a href="tel: <%=phoneNumber  %> "><i class="icon-phone"></i> <%=phoneNumber  %> </a>
            </li>
            <li>
              <a href="mailto: <%=email  %>"><i class="icon-mail2"></i> <%=email  %> </a>
            </li>
            <li>
              <a href="https://www.google.com/maps/search/<%=location  %> "><i class="icon-location"></i> <%=location  %></a>
            </li>
          </ul>
        </div>
        <div class="gtco-widget">
          <h3>Get Social</h3>
          <ul class="gtco-social-icons">
            <% if (typeof twitterLink !== 'undefined' && twitterLink) { %>
              <li>
                <a href="<%=twitterLink  %> "><i class="icon-twitter"></i></a>
              </li>
            <% } %>
            <% if (typeof facebookLink !== 'undefined' && facebookLink) { %>
              <li>
                <a href="<%=facebookLink  %> "><i class="icon-facebook"></i></a>
              </li>
            <% } %>
            <% if (typeof instagramLink !== 'undefined' && instagramLink) { %>
              <li>
                <a href="<%=instagramLink  %> "><i class="icon-instagram"></i></a>
              </li>
            <% } %>
          </ul>
        </div>
      </div>

     
    </div>
  </div>
</footer>
